<ion-header>
  <ion-toolbar>
    <ion-title>Celulares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        Disponibles
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/galaxys10.png"/>
        </ion-avatar>
        <ion-label>
          <h2>Galaxy S10 Plus</h2>
          <h3><b>$</b>610.000</h3>
          <h3>Cantidad:<ion-badge color="primary">10</ion-badge></h3>
          <p>El Galaxy S10 Plus es un celular con hasta 12GB de RAM, 1.5TB de almacenamiento, una gran batería y cámaras versátiles, características que lo hacen un ganador, a pesar de ser perfecto</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/oneplus7.png">
        </ion-avatar>
        <ion-label>
          <h2>OnePlus 7 Pro</h2>
          <h3><b>$</b>569.000</h3>
          <h3>Cantidad:<ion-badge color="primary">16</ion-badge></h3>
          <p>El OnePlus 7 Pro es un celular con un diseño hermoso, un desempeño ejemplar y una carga muy rápida, pero también es el OnePlus más caro hasta la fecha (que no ha sido edición limitada).</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/huaweip30.png">
        </ion-avatar>
        <ion-label>
          <h2>Huawei P30 Pro</h2>
          <h3><b>$</b>549,990</h3>
          <h3>Cantidad:<ion-badge color="secondary">4</ion-badge></h3>
          <p>Haz zoom para explorar el misterio celestial durante la noche, observa un águila sobre los árboles o examina los delicados detalles del cristal.</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/galaxynote9.png">
        </ion-avatar>
        <ion-label>
          <h2>Samsung Galaxy Note 9</h2>
          <h3><b>$</b>499,990</h3>
          <h3>Cantidad:<ion-badge color="secondary">3</ion-badge></h3>
          <p>El Samsung Galaxy Note 9 tiene actualizaciones puntuales que lo convierten en el mejor celular de Samsung en este momento: ofrece una gran duración de batería, un montón de funciones, un excelente desempeño y muy buenas cámaras.</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
            <img src="assets/img/pixel3xl.png">
          </ion-avatar>
          <ion-label>
            <h2>Google Pixel 3 XL</h2>
            <h3><b>$</b>500.000</h3>
            <h3>Cantidad:<ion-badge color="primary">25</ion-badge></h3>
            <p>El celular Google Pixel 3 XL es un excelente y la empresa sigue demostrando que con su software logra hacer maravillas, pero no es un celular perfecto.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="assets/img/lg8.png">
            </ion-avatar>
            <ion-label>
              <h2>LG G8 ThinQ</h2>
              <h3><b>$</b>599.990</h3>
              <h3>Cantidad:<ion-badge color="primary">11</ion-badge></h3>
              <p>El LG G8 ThinQ es un excelente celular que podría quedarse atrás de celulares como los Galaxy S10, es un celular que no debes ignorar.</p>
            </ion-label>
          </ion-item>
    </ion-list>



    <!--Sin Stock-->
    <ion-list>
      <ion-list-header>
        Sin Stock
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/motog7.png">
        </ion-avatar>
        <ion-label>
          <h2>Moto G7</h2>
          <h3><b>$</b>149,990</h3>
          <p>El Moto G7 es un teléfono con un buen balance en especificaciones, precio y experiencia, pero el Moto G7 Power podría ser una mejor y más barata opción; o el Moto G7 Plus para los bolsillos más holgados.</p>
          <h3>
              <ion-chip color="danger">
                <ion-label>Agotado</ion-label>
                <ion-icon name="alert"></ion-icon>
              </ion-chip>
            </h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/pixel3a.png">
        </ion-avatar>
        <ion-label>
          <h2>Pixel 3A</h2>
          <h3><b>$</b>290.000</h3>
          <p>El Pixel 3A tiene la misma excelente cámara de los Pixel 3 y las funciones características de la serie, pero su precio es el más bajo que Google ha ofrecido en un celular nuevo.</p>
          <h3>
              <ion-chip color="danger">
                <ion-label>Agotado</ion-label>
                <ion-icon name="alert"></ion-icon>
              </ion-chip>
          </h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/xperia10plus.png">
        </ion-avatar>
        <ion-label>
          <h2>Sony Xperia 10 Plus</h2>
          <h3><b>$</b>250.000</h3>
          <p>El Sony Xperia 10 Plus mejora al Xperia 10 con una pantalla Full HD+ de 6.5 pulgadas y procesador Snapdragon 636 de ocho núcleos con 4GB de memoria RAM y 64GB de almacenamiento</p>
          <h3>
              <ion-chip color="danger">
                <ion-label>Agotado</ion-label>
                <ion-icon name="alert"></ion-icon>
              </ion-chip>
          </h3>
        </ion-label>
      </ion-item>

      
          
    </ion-list>

    <ion-button class="ion-margin" expand="full" color="tertiary" routerLink="/menu-principal/menu-celulares">Volver al menú</ion-button>
  </ion-content>
