<ion-header>
  <ion-toolbar>
    <ion-title>Celulares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        Disponibles
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./prueba.png"/>
        </ion-avatar>
        <ion-label>
          <h2>Galaxy S10 Plus</h2>
          <h3><b>$</b>799</h3>
          <p>El Galaxy S10 Plus es un celular con hasta 12GB de RAM, 1.5TB de almacenamiento, una gran batería y cámaras versátiles, características que lo hacen un ganador, a pesar de ser perfecto</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-han.png">
        </ion-avatar>
        <ion-label>
          <h2>OnePlus 7 Pro</h2>
          <h3><b>$</b>794</h3>
          <p>El OnePlus 7 Pro es un celular con un diseño hermoso, un desempeño ejemplar y una carga muy rápida, pero también es el OnePlus más caro hasta la fecha (que no ha sido edición limitada).</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-rey.png">
        </ion-avatar>
        <ion-label>
          <h2>Huawei P30 Pro</h2>
          <h3><b>$</b>816</h3>
          <p>You will remove these restraints and leave...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-luke.png">
        </ion-avatar>
        <ion-label>
          <h2>Samsung Galaxy Note 9</h2>
          <h3><b>$</b>800</h3>
          <p>El Samsung Galaxy Note 9 tiene actualizaciones puntuales que lo convierten en el mejor celular de Samsung en este momento: ofrece una gran duración de batería, un montón de funciones, un excelente desempeño y muy buenas cámaras.</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-luke.png">
          </ion-avatar>
          <ion-label>
            <h2>Google Pixel 3 XL</h2>
            <h3><b>$</b>698</h3>
            <p>El celular Google Pixel 3 XL es un excelente y la empresa sigue demostrando que con su software logra hacer maravillas, pero no es un celular perfecto.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-luke.png">
            </ion-avatar>
            <ion-label>
              <h2>LG G8 ThinQ</h2>
              <h3><b>$</b>850</h3>
              <p>El LG G8 ThinQ es un excelente celular que podría quedarse atrás de celulares como los Galaxy S10, es un celular que no debes ignorar.</p>
            </ion-label>
          </ion-item>
    </ion-list>



    <!--Sin Stock-->
    <ion-list>
      <ion-list-header>
        Sin Stock
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2>Moto G7</h2>
          <h3><b>$</b>219</h3>
          <p>El Moto G7 es un teléfono con un buen balance en especificaciones, precio y experiencia, pero el Moto G7 Power podría ser una mejor y más barata opción; o el Moto G7 Plus para los bolsillos más holgados.</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-ben.png">
        </ion-avatar>
        <ion-label>
          <h2>Pixel 3A</h2>
          <h3><b>$</b>400</h3>
          <p>El Pixel 3A tiene la misma excelente cámara de los Pixel 3 y las funciones características de la serie, pero su precio es el más bajo que Google ha ofrecido en un celular nuevo.</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-leia.png">
        </ion-avatar>
        <ion-label>
          <h2>Sony Xperia 10 Plus</h2>
          <h3><b>$</b>330</h3>
          <p>El Sony Xperia 10 Plus mejora al Xperia 10 con una pantalla Full HD+ de 6.5 pulgadas y procesador Snapdragon 636 de ocho núcleos con 4GB de memoria RAM y 64GB de almacenamiento</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-yoda.png">
        </ion-avatar>
        <ion-label>
          <h2>iPhone XS</h2>
          <h3><b>$</b>999.99</h3>
          <p>El iPhone Xs con dos tamaños de pantalla Super Retina, incluida la pantalla más grande en un iPhone hasta ahora. Face ID aún más rápido.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2>Xiaomi Mi 9 SE</h2>
          <h3><b>$</b>419,99</h3>
          <p>El Xiaomi Mi 9 SE es el smartphone más pequeño de la gama, con una dimensiones de 147,5 x 70,5 x 7,5 mm. esto es culpa de su panel Super AMOLED de 5,97″, que mantiene las características de sus hermanos mayores como la resolución FullHD+</p>
        </ion-label>
      </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-poe.png">
            </ion-avatar>
            <ion-label>
              <h2>ZenFone Max Plus</h2>
              <h3><b>$</b>137.99</h3>
              <p>El ASUS ZenFone Max Plus (M1) es un smartphone diseñado para durar más, acompañarte en todas tus aventuras y ofrecerte una imagen más amplia.</p>
            </ion-label>
          </ion-item>
          
    </ion-list>

    <ion-button class="ion-margin" expand="full" color="tertiary" routerLink="/menu-principal/menu-celulares">Volver al menú</ion-button>
  </ion-content>
