<ion-header>
  <ion-toolbar>
    <ion-title>Auspiciadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label><h2>Sony</h2></ion-label>
        
          <img src="assets/img/sony.png">
        
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label><h2>Microsoft</h2></ion-label>
          
            <img src="assets/img/microsoft.png">
          
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label><h2>Nintendo</h2></ion-label>
            
              <img src="assets/img/nintendo.png">
            
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-button class="ion-margin" expand="full" color="tertiary" (click)="volverMenu()" >Volver al menú</ion-button>
</ion-content>
