<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
        <ion-list-header color="primary">
          Productos Seleccionados
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="">
          </ion-avatar>
          <ion-label>
            <h2>Galaxy S10 Plus</h2>
            <h2>Cantidad: 1</h2>
            <h3>Precio Unitario: <b>$</b>610.000</h3>
            <h3>Total: <b>$</b>610.000</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-han.png">
          </ion-avatar>
          <ion-label>
            <h2>OnePlus 7 Pro</h2>
            <h2>Cantidad: 1</h2>
            <h3>Precio Unitario: <b>$</b>569.000</h3>
            <h3>Total: <b>$</b>569.000</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-rey.png">
          </ion-avatar>
          <ion-label>
            <h2>Consola Nintendo 2DS XL Black Turquoise</h2>
            <h2>Cantidad: 1</h2>
            <h3>Precio Unitario: <b>$</b>99.990</h3>
            <h3>Total: <b>$</b>99.990</h3>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-rey.png">
          </ion-avatar>
          <ion-label>
            <h2>PES 2020 Pro Evolution Soccer Xbox One</h2>
            <h2>Cantidad: 2</h2>
            <h3>Precio Unitario: <b>$</b>44.990</h3>
            <h3>Total: <b>$</b>89.980</h3>
          </ion-label>
        </ion-item>
        <ion-item color="primary">
          <h6>Total: <b>$</b>1.368.970</h6>
        </ion-item>

        <ion-button class="ion-margin" expand="full" color="success" routerLink="/menu-principal/menu-celulares">Pagar</ion-button>
        <ion-button class="ion-margin" expand="full" color="primary" routerLink="/menu-principal/menu-base">Volver al menu</ion-button>
    </ion-list>
</ion-content>
