<ion-header>
    <ion-toolbar>
      <ion-title>Comprobante de pago</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="assets/img/pago.png">
      </ion-card-header>
      <ion-card-content>
        <ion-item>
            <ion-label>
              Cliente: <b>Juan Perez</b>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              N° cliente: <b>#219845</b> 
            </ion-label>
          </ion-item>
        
          <ion-item>
            <ion-label>
              Monto pagado: $<b>1.368.970</b>
            </ion-label>
          </ion-item>
        
          <ion-item>
            <ion-label>
              N° Cuotas: <b>0</b>
            </ion-label>
          </ion-item>



          <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/galaxys10.png"/>
              </ion-avatar>
              <ion-label>
                <h2>Galaxy S10 Plus</h2>
                <h3><b>$</b>610.000</h3>
                <h3>Cantidad:<ion-badge color="primary">10</ion-badge></h3>
                <p>El Galaxy S10 Plus es un celular con hasta 12GB de RAM, 1.5TB de almacenamiento, una gran batería y cámaras versátiles, características que lo hacen un ganador, a pesar de ser perfecto</p>
              </ion-label>
            </ion-item>
      
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/oneplus7.png">
              </ion-avatar>
              <ion-label>
                <h2>OnePlus 7 Pro</h2>
                <h3><b>$</b>569.000</h3>
                <p>El OnePlus 7 Pro es un celular con un diseño hermoso, un desempeño ejemplar y una carga muy rápida, pero también es el OnePlus más caro hasta la fecha (que no ha sido edición limitada).</p>
              </ion-label>
            </ion-item>
      
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/huaweip30.png">
              </ion-avatar>
              <ion-label>
                <h2>Huawei P30 Pro</h2>
                <h3><b>$</b>549,990</h3>
                <p>Haz zoom para explorar el misterio celestial durante la noche, observa un águila sobre los árboles o examina los delicados detalles del cristal.</p>
              </ion-label>
            </ion-item>
      
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/galaxynote9.png">
              </ion-avatar>
              <ion-label>
                <h2>Samsung Galaxy Note 9</h2>
                <h3><b>$</b>499,990</h3>
                <p>El Samsung Galaxy Note 9 tiene actualizaciones puntuales que lo convierten en el mejor celular de Samsung en este momento: ofrece una gran duración de batería, un montón de funciones, un excelente desempeño y muy buenas cámaras.</p>
              </ion-label>
            </ion-item>
          <ion-item expand="full" color="primary">
            <ion-label>
                <h6>Total: <b>$</b>1.368.970</h6>
            </ion-label>
            
          </ion-item>

          <ion-button class="ion-margin" expand="full" color="secondary" routerLink="/menu-principal/menu-base">Volver al menu</ion-button>
  
      </ion-card-content>
    </ion-card>
    
  </ion-content>