<ion-header>
  <ion-toolbar>
    <ion-title>Consolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <!--Sony-->
    <ion-list-header>
      Sony
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/psvita.png"/>
      </ion-avatar>
      <ion-label>
        <h2>SONY NEW PSVITA 1GB + GOW 1&2 + MEM 8GB</h2>
        <h3><b>$</b>189.990</h3>
        <h3>Cantidad:<ion-badge color="danger">3</ion-badge></h3>
        <p>Gráficos de gran nitidez, dos joysticks analógicos con gran capacidad de respuesta y sensores que te permiten inclinar, tocar, deslizar y agitar la consola para moverte por mundos de juego que te acompañan a donde vayas. </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/ps4.png">
      </ion-avatar>
      <ion-label>
        <h2>Consola PS4 1TB Days Of Play 2019 Limited Edition</h2>
        <h3><b>$</b>296.990</h3>
        <h3>Cantidad:<ion-badge color="primary">25</ion-badge></h3>
        <p>Vuelven los Days of Play, y con ello la nueva PlayStation Slim de 1TB edición limitada, que cuenta con los emblemáticos símbolos de PlayStation grabados en plata sobre una elegante consola Steel Black y un mando inalámbrico DUALSHOCK 4 de edición limitada a juego</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/ps3.png">
      </ion-avatar>
      <ion-label>
        <h2>CONSOLA DE VIDEOJUEGOS SONY PS3 SUPER SLIM 250GB + 1 CONTROL</h2>
        <h3><b>$</b>180.000</h3>
        <h3>Cantidad:<ion-badge color="primary">13</ion-badge></h3>
        <p>Dotado de velocidades de procesamiento asombrosas y gráficos espectaculares, PlayStation 3 cambiará tu percepción de los video juegos. Además de su impresionante catálogo de juegos que crece cada día, PS3 viene equipado con el Cell Broadband Engine</p>
      </ion-label>
    </ion-item>

    
    
  </ion-list>



  <!--Sin Stock-->
  <ion-list>
    <ion-list-header>
      Microsoft
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/xboxs.png">
      </ion-avatar>
      <ion-label>
        <h2>
          Consola Xbox One S 1TB + PES 2019 </h2>
        <h3><b>$</b>199.990</h3>
        <h3>Cantidad:<ion-badge color="danger">8</ion-badge></h3>
        <p>Revive tu pasión por el fútbol con esta edición de la consola Xbox One S de Microsoft; incluye la descarga completa del videojuego de deportes PES 2019.
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/xboxx.png">
      </ion-avatar>
      <ion-label>
        <h2>Consola Xbox One X 1TB + BF5 + BF1 + BF1943 + Live 12 meses</h2>
        <h3><b>$</b>399.990</h3>
        <h3>Cantidad:<ion-badge color="danger">1</ion-badge></h3>
        <p>Entra en el mayor conflicto de la humanidad con Battlefield ™ V ya que la serie vuelve a sus raíces en una imagen nunca antes vista de la Segunda Guerra Mundial.</p>
      </ion-label>
    </ion-item>
    
    
      
        
  </ion-list>

  <!--Sin Stock-->
  <ion-list>
    <ion-list-header>
      Nintendo
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/nintendo2ds.png">
      </ion-avatar>
      <ion-label>
        <h2>Consola Nintendo 2DS XL Black Turquoise </h2>
        <h3><b>$</b>99.990</h3>
        <h3>Cantidad:<ion-badge color="primary">11</ion-badge></h3>
        <p>Con esta consola puedes jugar en 2D todos los juegos de Nintendo 3DS, New Nintendo 3DS y la mayoría de los juegos de Nintendo DS.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/switch.png">
      </ion-avatar>
      <ion-label>
        <h2>Consola Nintendo Switch Neon</h2>
        <h3><b>$</b>239.990</h3>
        <h3>Cantidad:<ion-badge color="primary">12</ion-badge></h3>
        <p>Coloca la consola Nintendo Switch en la base y juega en alta definición. ¿Vas a salir? Llévate el juego a cualquier lugar en modo portátil.</p>
      </ion-label>
    </ion-item>

            
  </ion-list>

  <ion-button class="ion-margin" expand="full" color="tertiary" routerLink="/menu-principal/menu-consolas">Volver al menú</ion-button>
</ion-content>
