<ion-header>
  <ion-toolbar>
    <ion-title>Contactenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Nombre-->
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
<!--Rut-->
  <ion-item>
    <ion-label position="floating">Rut:</ion-label>
    <ion-input formControlName="rut"></ion-input>
  </ion-item>

  <!--email-->
  <ion-item>
    <ion-label position="floating">Correo:</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>

  <!--Motivo-->
  <ion-item>
    <ion-label position="floating">Motivo:</ion-label>
    <ion-input formControlName="motivo"></ion-input>
  </ion-item>

  <!--Comentarios-->
  <ion-item>
    <ion-label position="floating">Comentarios:</ion-label>
    <ion-textarea formControlName="comentario"></ion-textarea>
  </ion-item>

</ion-content>
