<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <!--Deportes-->
    <ion-list-header>
      Deportes
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/pes2020.png"/>
      </ion-avatar>
      <ion-label>
        <h2>PES 2020 Pro Evolution Soccer Xbox One</h2>
        <h3><b>$</b>44.990</h3>
        <h3>Cantidad:<ion-badge color="primary">25</ion-badge></h3>
        <p>Jugar es creer! ¡eFootball PES 2020 marca el comienzo de una nueva década de simulación de fútbol líder en la industria con una promesa audaz de revolucionar eFootball e introducir el deporte a una audiencia global!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/nba2k20.png">
      </ion-avatar>
      <ion-label>
        <h2>NBA 2K20 PS4 </h2>
        <h3><b>$</b>44.990</h3>
        <h3>Cantidad:<ion-badge color="primary">18</ion-badge></h3>
        <p>NBA 2K se ha convertido en mucho más que un simulador de baloncesto. 2K vuelve a definir los juegos deportivos con NBA 2K20, el título con los mejores gráficos y jugabilidad, innovadores modos de juego y una personalización y manejo de los jugadores incomparables.</p>
      </ion-label>
    </ion-item>
    
    <!--Shooter-->
    <ion-list-header>
      Shooter
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/codmw.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Call Of Duty Modern Warfare Xbox One</h2>
        <h3><b>$</b>816</h3>
        <h3>Cantidad:<ion-badge color="danger">7</ion-badge></h3>
        <p>Las apuestas nunca han sido tan altas, ya que los jugadores asumen el papel de operadores letales de Nivel Uno en una saga apasionante que afectará el equilibrio global de poder. </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/tomclancy.png">
      </ion-avatar>
      <ion-label>
        <h2>Tom Clancys Ghost Recon Breakpoint PS4 </h2>
        <h3><b>$</b>44.990</h3>
        <h3>Cantidad:<ion-badge color="primary">16</ion-badge></h3>
        <p>Tom Clancy’s Ghost Recon Breakpoint es un shooter militar ambientado en un mundo abierto, diverso y hostil, que puedes jugar por completo en modo individual o en cooperativo de hasta 4 jugadores.</p>
      </ion-label>
    </ion-item>
    
  </ion-list>



  <!--Acción-->
  <ion-list>
    <ion-list-header>
      Acción
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/monsterhunter.png">
      </ion-avatar>
      <ion-label>
        <h2>Monster Hunter World Iceborne Master Edition PS4 </h2>
        <h3><b>$</b>44.990</h3>
        <h3>Cantidad:<ion-badge color="danger">4</ion-badge></h3>
        <p>Iceborne se basa en todos los aspectos de Monster Hunter: World, comenzando con una historia completamente nueva que retoma el juego principal y lleva a los cazadores a un lugar recientemente descubierto llamado Hoarfrost Reach. </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/supermariobros.png">
      </ion-avatar>
      <ion-label>
        <h2>New Super Mario Bros U Deluxe switch</h2>
        <h3><b>$</b>46.990</h3>
        <h3>Cantidad:<ion-badge color="danger">1</ion-badge></h3>
        <p>¡Únete a Mario, Luigi y amigos para la diversión de un jugador o multijugador en cualquier momento y en cualquier lugar! Acepta dos aventuras familiares de desplazamiento lateral con hasta tres amigos * mientras intentas salvar el Reino de los Hongos.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/supersmashbros.png">
      </ion-avatar>
      <ion-label>
        <h2>Super Smash Bros Ultimate Switch</h2>
        <h3><b>$</b>46.990</h3>
        <h3>Cantidad:<ion-badge color="primary">12</ion-badge></h3>
        <p>Luchadores y mundos de juego míticos colisionan en el enfrentamiento definitivo: ¡una nueva entrada de la serie Super Smash Bros. para Nintendo Switch!</p>
      </ion-label>
    </ion-item>
        
  

            
  </ion-list>

  <ion-button class="ion-margin" expand="full" color="tertiary" routerLink="/menu-principal/menu-juegos">Volver al menú</ion-button>
</ion-content>