
<ion-content>
  <ion-button routerLink="/menu-principal/contacto">
    <ion-label for="">contacto</ion-label>
  </ion-button>
</ion-content>

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="menu-celulares">
      <ion-icon name="logo-android"></ion-icon>
      <ion-label>Menú Celulares</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu-consolas">
      <ion-icon name="logo-xbox"></ion-icon>
      <ion-label>Menú Consolas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu-juegos">
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <ion-label>Menú Juegos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
