<ion-content>
  <ion-title>
    Menu Principal
  </ion-title>
</ion-content>

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="menu-base">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menú Principal</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu-celulares">
      <ion-icon name="logo-android"></ion-icon>
      <ion-label>Celulares</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu-consolas">
      <ion-icon name="logo-xbox"></ion-icon>
      <ion-label>Consolas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu-juegos">
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
