<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Celular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCelular">
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca:</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio:</ion-label>
      <ion-input formControlName="precio"></ion-input>
    </ion-item>
    <ion-button expand="full" color="success">Agregar Celular</ion-button>
  </form>
</ion-content>
