<ion-header>
  <ion-toolbar>
    <ion-title class="centrar-titulos">Celulares</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-label>Seleccione su opción</ion-label>        
        
      </ion-card-header>
      <ion-card-content>
          <ion-button class="ion-no-margin ion-margin-end" expand="" color="secondary" routerLink="/agregar-celulares">Agregar Celular</ion-button>
          <ion-button class="ion-no-margin ion-margin-start" expand="" color="tertiary" routerLink="/listar-celulares">Ver Celulares</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>


